
@import "tailwindcss";
:root{
    --font-regular:RhythmRegular;
    --font-light:RhythmLight;
    --font-medium:RhythmMedium;
    --font-bold:RhythmBold;
}
@font-face {
  font-family: "RhythmBold";
  src: url("./fonts/Aeonik-Bold.ttf");
}
@font-face {
  font-family: "RhythmRegular";
  src: url("./fonts/Aeonik-Regular.ttf");
}
@font-face {
  font-family: "RhythmLight";
  src: url("./fonts/Aeonik-Light.ttf");
}
@font-face {
  font-family: "RhythmMedium";
  src: url("./fonts/Aeonik-Medium.ttf");
}
*{
  font-family: "RhythmRegular";
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
.mainli li{

  transition: all 0.4s ease-in-out;
}
.a1{
  transform: translateY(0%);
  position: absolute;
}
.mainli .a1{
  transform: translateY(-100%);
}
.mainli:hover .a1{
  transform: translateY(0);
}
.mainli:hover .a2{
  transform: translateY(90%);
}
@media (max-width: 768px) {
  .page2-section1 h1 {
    font-size: 4rem;
  }
  .page2-section1 p {
    font-size: 1rem;
  }
  .page2-section2 h1{
    font-size: 4rem;
  }
  .menubar{
    width: 30vw;
  }
  .navbar-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
